# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# keys
/keys/
*.pem

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.lcov
.nyc_output
.coverage
.pytest_cache
htmlcov

# Production
build
dist
dist-ssr
build
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python/Django
*.py[cod]
__pycache__
*.py[cod]
*$py.class

# Static and media files
/media/
/staticfiles/
*.egg-info/
build/
build/coverage/
build/htmlcov/


# OS
Thumbs.db
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Backup files
*~
*.bak
*.tmp
*.temp

# Package manager
.npm
.yarn-integrity

# Virtual environments
venv/
ENV/
env/
.venv/
.virtualenv/

# Compiled files
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3
*.db


# Temporary files
*.tmp
*.temp
.cache